*{
    padding: 0;
    margin: 0;
}

body{
    width: 1280px;
    font-size: 1.2em;
    margin: 0 auto;
}

div#hlavicka{
width: 1280px;
height: 200px;
}

div#menu{
    float: left;
    width: 30%;
}

div#menu h2{
    display: none;
}

div#menu li{
    list-style-type: none;
    background-color: #1e90ff;
    text-align: center;
}
#menu a{
    font-size: 1.5em;
    text-decoration: underline;
    font-weight: bold;
    color: black;
}

#menu a:hover{
    color: white;
    background-color: black;
}
div#obsah{
    float: right;
    width: 65%;
}
div#obsah p{
    font-size: 1.2em;
}
/*TABULKY*/
table{
    width: 640px;
    text-align: center;
}
table td{
    border: 2px solid black;
    border-collapse:collapse;
}
.th{
    font-weight: bold;
}
/*TABULKY*/
/*Prostý text*/
h1{
    font-size: 2em;
    text-align: center;
    text-decoration: underline;
    color:1e90ff; 
}
h2{
    color: 1e90ff;
    font-size: 1.2em;
    text-align: center;
    text-decoration: underline;
}
h3{
    color: 1e90ff;
font-size: 1.1em;
    text-align: center;
    text-decoration: underline;
}
p{
    text-align: justify;
    line-height: 1.5;
}
/*Prostý text*/
